*{

    padding: 0px;
    margin: 0px;
}


/* estilos generales*/

body{

    background: url("../img/background.jpg");
    
}


#menu{

    float: right;
    height: 70px;
    background: transparent;

}

#menu ul li{

    font-size: 18px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;

}

#menu ul li a{

    display: block;
    color: white;
    text-decoration: none;
    transition: all 200ms;
}

#menu ul li a:hover{

    color: #d0b26a;
    transform: scale(1.2,1.2);

}